body {
  font-size: 10px;
}
/* Mixins */
.light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.bold {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.boxShadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
}
.trs {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Varibles */
/* Default classes */
.d-n,
.mobile-icons,
nav {
  display: none;
}
.modal-open {
  overflow: hidden;
}
.r-0 {
  margin-right: 0;
  padding-right: 0;
}
/* Animations */
@-webkit-keyframes appiared {
  from {
    background-color: rgba(255, 255, 255, 0.1);
  }
  to {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@keyframes appiared {
  from {
    background-color: rgba(255, 255, 255, 0.1);
  }
  to {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
/* Floating blocks */
.sidebar {
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  position: fixed;
  left: 0;
  top: 0;
  width: 5%;
  min-width: 4rem;
  height: 100vh;
  z-index: 11;
  padding-top: 1.5rem;
}
.sidebar-logo {
  padding: .3rem;
  text-align: center;
}
.sidebar-logo_name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: .6rem;
  letter-spacing: -0.11rem;
}
.sidebar-menu {
  margin-top: 5rem;
}
.sidebar-menu_item {
  display: block;
  width: 1.3rem;
  height: 1.8rem;
  margin: 0 auto;
  padding: 3rem 0;
}
.sidebar-menu_item img {
  cursor: pointer;
}
.search-block {
  overflow: scroll;
  z-index: 10;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 45rem;
  padding-top: 10rem;
  padding-left: 8rem;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-animation-name: appiared;
  animation-name: appiared;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
}
.search-block_form-input {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 4rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  background-color: transparent;
}
.search-block_form-input_close {
  font-size: 3rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  vertical-align: top;
}
.search-block_form-helpText {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top: .2rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.4);
}
.hamburger {
  position: fixed;
  top: 1.5rem;
  right: 3rem;
  cursor: pointer;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  z-index: 10;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
}
.hamburger span {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hamburger span:nth-child(1) {
  position: absolute;
  top: 32%;
  left: 28%;
  display: block;
  background-color: #ccc;
  height: .18rem;
  width: 45%;
}
.hamburger span:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  background-color: #ccc;
  height: .18rem;
  width: 45%;
}
.hamburger span:nth-child(3) {
  position: absolute;
  top: 62%;
  left: 28%;
  display: block;
  background-color: #ccc;
  height: .18rem;
  width: 45%;
}
.hamburger .close:nth-child(1) {
  position: absolute;
  top: 47%;
  left: 27%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  background-color: #ccc;
  height: .18rem;
  width: 45%;
  background-color: #f9c263;
}
.hamburger .close:nth-child(2) {
  display: none;
}
.hamburger .close:nth-child(3) {
  position: absolute;
  top: 47%;
  left: 27%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  background-color: #ccc;
  height: .18rem;
  width: 45%;
  background-color: #f9c263;
}
.menu {
  overflow: scroll;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  position: fixed;
  top: 0;
  right: 0;
  width: 27rem;
  max-width: 100%;
  background-color: #fff;
  height: 100vh;
  z-index: 9;
}
.menu .navigation {
  text-align: right;
  padding-right: 2.5rem;
  padding-top: 8rem;
}
.menu .navigation li {
  padding: 1rem 0;
}
.menu .navigation a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #c1c1c1;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.045rem;
  line-height: 2.3;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu .navigation a:hover {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #f9c263;
}
.menu .navigation a img {
  vertical-align: middle;
  display: inline-block;
  margin-left: 1.3rem;
}
.open {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
}
/* Main page */
.main {
  padding-left: 4rem;
  background-color: #aeaeae;
  /* background: url('../img/main-bg.jpg') no-repeat; */
  -webkit-background-size: cover;
  background-size: cover;
}
.main-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.main-block_title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: .5rem;
}
.main-block_text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 2rem;
  font-size: 1.4rem;
}
.main-block_btn {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  background-color: #fff;
  -webkit-border-radius: 5rem;
  border-radius: 5rem;
  padding: 1.5rem 3rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-block_btn:hover {
  background-color: #f9c263;
}
.categories {
  background-color: #f0f0f0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
}
.categories-card {
  min-height: 35rem;
  padding: 5rem;
  margin-bottom: 2.5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
}
.categories-title {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2.4rem;
  color: #fff;
}
.categories-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: #fff;
}
.categories-btn {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  border: .2rem solid #fff;
  letter-spacing: 0.045rem;
  padding: .5rem 1rem;
  margin-top: 2.5rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.categories-btn:hover {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  background-color: #f9c263;
}
.bathroom-bg {
  background: #aeaeae url('../img/items/bathroom-1.jpg') center center / cover no-repeat;
}
.kitchen-bg {
  background: #aeaeae url('../img/items/kitchen-1.jpg') center center / cover no-repeat;
}
.net-bg {
  background: #aeaeae url('../img/items/warmfloor.jpg') center center / cover no-repeat;
}
.details-bg {
  background: #aeaeae url('') no-repeat;
}
.warmfloor-bg {
  background: #aeaeae url('../img/items/floorcoating.jpg') no-repeat;
}
.brand {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
}
.brand-logo {
  margin: 1rem auto;
  max-width: 95%;
}
footer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #333333;
  padding: 4rem;
  color: #fff;
  font-size: 1.2rem;
}
footer a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
  margin-bottom: .5rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer a:hover {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #f9c263;
}
footer a picture {
  margin-right: .5rem;
}
footer .block-info-logo {
  text-align: center;
}
footer .block-info-categories {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  cursor: pointer;
}
footer .block-info-categories li {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-bottom: .5rem;
}
footer .block-info-categories li:hover {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #f9c263;
}
footer .block-info-pay img {
  margin: 1rem;
}
/* Media requests */
@media (max-width: 490px) {
  body {
    font-size: 2px;
  }
  .modal-open {
    position: relative;
  }
  nav {
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.034), 0 3px 6px rgba(0, 0, 0, 0.096);
  }
  nav .mobile-nav {
    height: 4rem;
  }
  nav .mobile-nav-logo {
    height: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  nav .mobile-nav-logo_img {
    display: block;
  }
  nav .mobile-nav-logo_name {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: block;
    font-size: .6rem;
    letter-spacing: -0.11rem;
  }
  nav .mobile-nav-hamburger {
    position: fixed;
    top: .7rem;
    right: 1rem;
    cursor: pointer;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    z-index: 10;
  }
  nav .mobile-nav-hamburger span {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav .mobile-nav-hamburger span:nth-child(1) {
    position: absolute;
    top: 32%;
    left: 28%;
    display: block;
    background-color: #ccc;
    height: .15rem;
    width: 45%;
  }
  nav .mobile-nav-hamburger span:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    background-color: #ccc;
    height: .15rem;
    width: 45%;
  }
  nav .mobile-nav-hamburger span:nth-child(3) {
    position: absolute;
    top: 62%;
    left: 28%;
    display: block;
    background-color: #ccc;
    height: .15rem;
    width: 45%;
  }
  nav .mobile-nav-hamburger .close:nth-child(1) {
    position: absolute;
    top: 47%;
    left: 27%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    background-color: #ccc;
    height: .18rem;
    width: 45%;
    background-color: #f9c263;
  }
  nav .mobile-nav-hamburger .close:nth-child(2) {
    display: none;
  }
  nav .mobile-nav-hamburger .close:nth-child(3) {
    position: absolute;
    top: 47%;
    left: 27%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    background-color: #ccc;
    height: .18rem;
    width: 45%;
    background-color: #f9c263;
  }
  .sidebar,
  .hamburger {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .menu .navigation {
    padding-right: 2rem;
    padding-top: 5.5rem;
  }
  .menu .navigation a {
    font-size: 1.1rem;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu .navigation a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #f9c263;
  }
  .menu .navigation a img {
    vertical-align: middle;
    display: inline-block;
    margin-left: 1.3rem;
  }
  .menu .mobile-icons {
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
  }
  .menu .mobile-icons .sidebar-menu {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
  .menu .mobile-icons .sidebar-menu_item {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 2.1rem;
  }
  .menu .mobile-icons .sidebar-menu_item img {
    cursor: pointer;
  }
  .main,
  .categories,
  .brand {
    padding-left: 0;
  }
  .search-block {
    padding-left: 1rem;
  }
  .search-block_form-input {
    font-size: 2rem;
    width: 85%;
  }
  .search-block_form-helpText {
    font-size: 1rem;
  }
  .main-block {
    height: 45rem;
  }
  .main-block_title {
    font-size: 2.6rem;
  }
  .main-block_text {
    font-size: 1rem;
  }
  .main-block_btn {
    font-size: 1.3rem;
    -webkit-border-radius: 3rem;
    border-radius: 3rem;
    padding: 1.3rem 2rem;
  }
  .categories-card {
    padding: 3rem 1rem;
  }
  .categories-title {
    font-size: 2.3rem;
  }
  .categories-text {
    font-size: 1.2rem;
  }
  .categories-btn {
    font-size: 1.2rem;
    padding: .3rem .8rem;
    margin-top: 2.5rem;
  }
  footer {
    padding: 2rem;
  }
  footer .block-info-logo,
  footer .block-info-call,
  footer .block-info-categories,
  footer .block-info-pay {
    margin: 1rem auto;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 2px;
  }
  footer .block-info-logo,
  footer .block-info-call,
  footer .block-info-categories,
  footer .block-info-pay {
    width: 80%;
    margin: 1rem auto;
  }
}
@media (min-width: 576px) {
  body {
    font-size: 6px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 8px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 12px;
  }
}
@media screen and (orientation: landscape) and (max-height: 430px) {
  .sidebar {
    overflow: scroll;
  }
  .modal-open {
    position: relative;
  }
}
